<section class=container>
<h2 mat-dialog-title>Description of {{ data.q.name }}</h2>
<mat-dialog-content class="mat-typography">
    <p><img class="id" src="{{data.q.imageUrl}}"></p>
      <ul>
          <li>The level of this game is {{ data.q.level }}</li>
          <li>Total number of questions is {{ data.q.numOfQuestion }}</li>
          <!-- <li>Category is {{ data.q.category.name }}</li> -->
          <li>{{ data.q.rules[2] }}</li>
          <li>{{ data.q.rules[3] }}</li>
      </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  mat-dialog-close (click)="fetchGameId(data.q.id)">Play</button>
</mat-dialog-actions>
</section>