// button{
//     color: whitesmoke;
//     background-color:  rgb(17, 95, 91);
//     margin-top: 300px;
//     margin-left: 200px;
//     float: left;
//     width: 500px;
//     height: 200px;
//     font-size: 50px;
//     border-bottom-left-radius: 20px;
//     border-bottom-right-radius: 20px;
//     border-top-left-radius: 20px;
//     border-top-right-radius: 20px;
    
// }

button{
    bottom: 200px;
    color: white;
    background-color: rgb(17, 95, 91);
    margin-top: 400px;
    margin-left: 400px;    float: left;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;}