<app-header></app-header>
<div class="container">
  <mat-card class="example-card">
      
     <img mat-card-image src="../assets/images/33.jpg" alt="Photo ">
     <div class="overlay">
           
           <div class="text"> Play History</div>
      <div class="text"> Play History</div>
    </div>
    
     <mat-card-actions >
      <i class="material-icons">
        favorite play_arrow delete
        </i>
      
     </mat-card-actions>
   </mat-card>
   <mat-card class="example-card">
      
    <img mat-card-image src="../assets/images/5.jpg" alt="Photo ">
    <div class="overlay">
      <div class="text">Play History</div>
    </div>
    <mat-card-actions>
     <i class="material-icons">
       favorite play_arrow delete 
       </i>
     
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
      
    <img mat-card-image src="../assets/images/3.jpg" alt="Photo ">
    <div class="overlay">
      <div class="text">Play History</div>
    </div>
    <mat-card-actions>
     <i class="material-icons">
       favorite play_arrow delete
       </i>
     
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
      
    <img mat-card-image src="../assets/images/4.jpg" alt="Photo">
    <div class="overlay">
      <div class="text">Play History</div>
    </div>
    <mat-card-actions>
     <i class="material-icons">
       favorite play_arrow delete
       </i>
     
    </mat-card-actions>
  </mat-card>
 </div>

 