.laststep{

    background-image:url("http://szzljy.com/data/27/gray-color-wallpaper/gray-color-wallpaper-5.jpg");
  
    width: 1500px;
  
    height: 800px;
  
    position: absolute;
  
  }
  
  h3{
  
    text-align: center;
  
  }
  
  
  
  .col{
  
    position: relative;
  
     padding-right: 1100px;
  
     padding-bottom: 200px;
  
  
  
  }
  
  .col1{
  
    width: 350px;
  
    position: absolute;
  
    height: 350px;
  
    text-align: left;
  
  }
  
  .img{
  
    height: 200px;
  
    width: 220px;   
  
  }