<app-header></app-header>
<mat-horizontal-stepper linear id="reg">
  <mat-step #myStep [stepControl]="formGroup1" editable="true">
    <ng-template matStepLabel>
      Fill the details
    </ng-template>
    <form [formGroup]="formGroup1">
      <h2>Registration Form</h2>
      <mat-form-field appearance="outline" class="username">
        <mat-label for="name">Name</mat-label>
        <input
          matInput
          placeholder="username"
          [(ngModel)]="name"
          pattern="[a-z]{1,15}"
          formControlName = "firstCtrl"
          required
        />
        <mat-hint>Username should be in lowercase letters</mat-hint>

      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" class="password">
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-hint>Starts with captial,one num & length8!</mat-hint>
      </mat-form-field>
      <br />
      <mat-form-field class="emailid" appearance="outline" required>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          [(ngModel)]="emailId"
          name="emaiId"
          required
        />
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-radio-group
        appearance="outline"
        class="gender"
        [(ngModel)]="gender"
        [ngModelOptions]="{ standalone: true }"

        required
      >
        <mat-label>Gender</mat-label>
        <mat-radio-button value="Male">Male </mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <br />
      <br />
      <br />
      <!-- <button mat-raised-button="next" class="nextbtn">Next<a href = "#"Next (input)="onClick($event)"></a></button> -->
      <button mat-button class="nextbtn" matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step #myStep [stepControl]="formGroup2" optional editable="true">
    <form [formGroup]="formGroup2">
      <ng-template matStepLabel>
        Select Options
      </ng-template>
      <section class="container">
        <h3>Select Topic</h3>
        <mat-button-toggle class="inside1" value="TvShows">
          <img
            src="assets/images/tv1.jpeg"
            alt="Tvshows"
            height="90px"
            width="180px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside1" value="Movies">
          <img
            src="../../../../assets/images/movie1.jpeg"
            alt="Movies"
            height="90px"
            width="180px"
        /></mat-button-toggle>
      </section>
      <section class="container2">
        <h3>Select Genres</h3>
        <mat-button-toggle class="inside" value="Horror" >
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Horror._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"
            alt="Horror" height = "80px" width = "178px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside" value="Action">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Action._CB1513316166_SX233_CR0,0,233,131_AL_.jpg"
            alt="Action" height = "80px" width = "178px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside" value="Fantasy">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Fantasy._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"
            alt="Fantasy" height = "80px" width = "178px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside" value="Comedy">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Comedy._CB1513316167_SX233_CR0,0,233,131_AL_.jpg"
            alt="Comedy" height = "80px" width = "178px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside" value="Scifi">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Sci-Fi._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"
            alt="Sci-FI" height = "80px" width = "178px"
        /></mat-button-toggle>
          <br> <br>
        <mat-button-toggle class="inside" value="Romantic">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Romance._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"
            alt="Romantic" height = "80px" width = "178px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside" value="Rom-com">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Comedy-Romance._CB1513316167_SX233_CR0,0,233,131_AL_.jpg"
            alt="Rom-com" height = "80px" width = "178px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside" value="Drama">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Drama._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"
            alt="Drama" height = "80px" width = "178px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside" value="Thriller">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Thriller._CB1513316169_SX233_CR0,0,233,131_AL_.jpg"
            alt="Thriller" height = "80px" width = "178px"
        /></mat-button-toggle>
        <mat-button-toggle class="inside" value="Animation">
          <img
            src="https://m.media-amazon.com/images/G/01/IMDb/genres/Animation._CB1513316167_SX233_CR0,0,233,131_AL_.jpg"
            alt="Adventure" height = "80px" width = "178px"
        /></mat-button-toggle>
      </section>
      <br />
      <div>
        <button mat-button class="prebtn" matStepperPrevious>Back</button>
        <button mat-button class="nexttbtn1" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step #myStep [stepControl]="formGroup3" optional>
    <form [formGroup]="formGroup3">
      <ng-template matStepLabel>
        Check Details
      </ng-template>
      <mat-card>
        <h4>
          <h3>Details of User:</h3>
          <section
            class="laststep"
            fxLayout
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="10px"
          >
            <label class="step3">Username : {{ name }}</label> <br />
            <br />
            <label class="step3">Gender : {{ gender }}</label> <br />
            <br />
            <label class="step3">emailId : {{ emailId }}</label> <br />
            <br />
            <!-- <label class="step3"> Selected topics : {{ selectedTopics }}</label>
          <ul class="step3">
            <div class="genreinline">Selected Genres :</div>
            <li *ngFor="let b of gen">{{ b }}</li>
          </ul> -->
          </section>
        </h4>
      </mat-card>
      <br />
      <br />
      <button mat-button class="prebtn1" matStepperPrevious>Back</button> <br />
      <br />
      <button
        mat-raised-button
        class="submit"
        (click)="submit($event)"
        matStepperNext
      >
        Submit
      </button>
      <br />
      <br />
    </form>
  </mat-step>
  <mat-step #myStep [stepControl]="formGroup4" editable="false">
    <form [formGroup]="formGroup4">
      <ng-template matStepLabel>
        Done
      </ng-template>
      <p>
        <b> Thank you for registering</b> <br /><br />
        <b> You have successfully signed up as a user!</b>
      </p>
      <br />
      <br />
      <button
        mat-raised-button
        class="mat-raised-button"
        [routerLink]="['/login']"
      >
        Login
      </button>
    </form>
  </mat-step>
</mat-horizontal-stepper>
